.itemBox {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}
.itemBox img {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.name {
  color: white;
  font-size: 18px;
}
