.main {
  grid-column: 3/11;
  grid-row: 2/6;
  display: grid;
  grid-template-rows: repeat(3, 180px);
  grid-template-columns: repeat(8, 100px);
  grid-gap: 15px;
  width: 905px;
  box-sizing: border-box;
}
