header {
  background-color: #85befc;
  display: flex;
  align-items: center;
  grid-column: 1/11;
  height: 100px;
}
.logo {
  margin-left: 60px;
  width: 100px;
}
.label {
  margin-left: 60px;
}
.label_link {
  font-style: italic;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.mark {
  font-style: italic;
  color: white;
}
