* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1135px;
  display: grid;
  /* grid-template-rows: 100px repeat(4, 180px) 80px; */
  grid-template-columns: repeat(10, 100px);
  margin: 0 auto;
  grid-gap: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.wrapper-content {
  grid-column: 3/11;
  grid-row: 2/6;
  min-height: 800px;
}
